<h2><%= @merchant.name %> Coupons</h2>
<nav>
  <ul>
    <li><%= link_to 'Dashboard', "/merchants/#{@merchant.id}" %></li>
    <li><%= link_to 'My items', merchant_items_path((@merchant)) %></li>
    <li><%= link_to 'My invoices', merchant_invoices_path((@merchant)) %></li>
  </ul>
</nav>

<div class="active-coupons">
  <% @merchant.coupons.each do |coupon| %>
    <div class="coupon-<%= coupon.id %>-details">
      <h3><%= link_to coupon.name, merchant_coupons_path(@merchant, coupon) %></h3>
      <p>Code: <%= coupon.code %></p>
      <% if coupon.dollar_off.nil? %>
        <%= "Percent Off: #{coupon.percent_off}" %>
      <% elsif coupon.percent_off.nil? %>
        <%= "Dollar Off: #{coupon.dollar_off}" %>
      <% end %>
      <p>Status: <%= coupon.status %></p>
    </div>
  <% end %>
</div>