<h2><%= @coupon.name %></h2>
<nav>
  <ul>
    <li><%= link_to 'Dashboard', "/merchants/#{@merchant.id}" %></li>
    <li><%= link_to 'My items', merchant_items_path((@merchant)) %></li>
    <li><%= link_to 'My invoices', merchant_invoices_path((@merchant)) %></li>
    <li><%= link_to 'My Coupons', merchant_coupons_path((@merchant)) %></li>
  </ul>
</nav>

<div class="coupon-<%= @coupon.id %>-details">
  <p>Code: <%= @coupon.code %></p>
  <% if @coupon.coupon_type == "percent" %>
    <%= "Percent Off: #{@coupon.money_off}" %>
  <% elsif @coupon.coupon_type == "dollars" %>
    <%= "Dollars Off: #{@coupon.money_off}" %>
  <% end %>
  <p>Status: <%= @coupon.status %></p>
  <p>Number of Uses: <%= @coupon.times_used %></p>

  <% if @coupon.status == "activated" %>
    <%= button_to "Deactivate Coupon", merchant_coupon_path(@merchant, @coupon, status: 1), method: :patch %>
  <% elsif @coupon.status == "deactivated" %>
    <%= button_to "Activate Coupon", merchant_coupon_path(@merchant, @coupon, status: 0), method: :patch %>
  <% end %>
</div>