<h4> <%= @item.name %> </h4>
<nav>
  <ul>
    <li><%= link_to 'Dashboard', "/merchants/#{@merchant.id}" %></li>
    <li><%= link_to 'My items', merchant_items_path((@merchant)) %></li>
    <li><%= link_to 'My invoices', merchant_invoices_path((@merchant)) %></li>
    <li><%= link_to 'My coupons', merchant_coupons_path((@merchant)) %></li>
  </ul>
</nav>
<%= render partial: "form", locals:{
  path: "/merchants/#{@merchant.id}/items/#{@item.id}",
  method: :patch,
  button_text: "Update Item"
} %>

